* {
    margin: 0;
    color: #ffffff;
    font-family: 'Raleway';
}

body {
    background-color: #1f1f1f;
}

header, section, footer {
    padding: 10px;
}

h1, h2, h3 {
    color: #d396ff;
}

p {
    text-align: justify;
}

.header {
    margin: 0px;
    width: 100%;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
}

header {
    z-index: 999;
    color: #ffffff;
    background-color: #500388;
    overflow: auto;
    position: sticky;
        top: 0;
    img {
        margin-right: 30px;
        float: left;
        transition-duration: 0.5s;
    }
    img:hover {
        transform: scale(1.05);
    }
    nav {
        position: relative;
            top: 12.5px;
        p {
            padding: 10px;
            width: 20%;
            float: right;
            border: 2.5px solid #ffffff;
            transition: width 0.5s;
        }
        a {
            margin: 10px 30px 10px 0px;
            text-align: center;
            float: left;
            transition-duration: 1s;
        }
        p:hover {
            width: 35%;
            color: #d9d9d9;
            border: 2.5px solid #d9d9d9;
        }
        a:link {
            text-decoration: none;
        }
        a:hover {
            color: #d9d9d9;
            transform: scale(1.05)
        }
    }
}

footer {
    z-index: 998;
    background-color: #500388;
    color: #ffffff;
    overflow: auto;
    .facebook {
        background: url('media/appicons.jpg') no-repeat -28px -69.5px;
        background-size: 400px 400px;
        width: 45px;
        height: 45px;
        float: left;
    }
    .instagram {
        background: url('media/appicons.jpg') no-repeat -177.5px -69.5px;
        background-size: 400px 400px;
        width: 45px;
        height: 45px;
        float: left;
    }
    .twitter {
        background: url('media/appicons.jpg') no-repeat -327px -69.5px;
        background-size: 400px 400px;
        width: 45px;
        height: 45px;
        margin-right: 30px;
        float: left;
    }
    p {
        position: relative;
            left: 25px;
    }
    a {
        margin-right: 30px;
        float: left;
        transition-duration: 1s;
        position: relative;
            top: 10px;
    }
    img {
        float: right;
        position: relative;
        bottom: 22px;
    }
    a:link {
        text-decoration: none;
    }
    a:hover {
        color: #d9d9d9;
        transform: scale(1.05)
    }
}

.sources {
    margin-bottom: 10px;
    border-top: 2.5px solid #ffffff;
    a:any-link {
        color: #ffffff;
    }
    a:hover {
        background-color: #d396ff;
    }
    a:active {
        background-color: #c473ff;
    }
}

/* Home */

#home_s1 {
    margin-bottom: 10px;
    overflow: auto;
    h1 {
        margin-bottom: 10px;
        color: #d396ff;
    }
    img {
        margin-left: 10px;
        float: right;
    } 
}

#home_s2 {
    margin: 0px 10px 10px 10px;
    border: 2.5px solid #ffffff;
    h2 {
        text-align: center;
        color: #d396ff;
    }
}


#home_s3 {
    margin-bottom: 10px;
    background-color: #d396ff;
    #home_s3_wrapper {
        border: 1.5px solid #ffffff;
    }
    h2 {
        padding: 10px;
        color: #d396ff;
        background-color: #ffffff;
        border: 2.5px solid #ffffff;
    }
    details {
        padding: 10px;
        border: 1.5px solid #ffffff;
        summary {
            font-weight: bold;
        }
        p {
            margin-top: 5px;
            margin-left: 15px;
        }
        table, th, td, tr {
            width: 50%;
            margin: 20px;
            padding: 10px;
            text-align: center;
            color: #d396ff;
            background-color: #ffffff;
            border: 2.5px solid #d396ff;
            border-collapse: collapse;
        }
        a:any-link {
            color: #ffffff;
        }
        a:hover {
            color: #d396ff;
            background-color: #ffffff;
        }
        a:active {
            color: #ffffff;
            background-color: #c473ff;
        }
    }
}

#home_s4 {
    margin-bottom: 10px;
    overflow: auto;
    h2 {
        margin-bottom: 5px;
        color: #d396ff;
    }
    img {
        margin-right: 10px;
        float: left;
    }
    a:any-link {
        color: #ffffff;
    }
    a:hover {
        color: #ffffff;
        background-color: #d396ff;
    }
    a:active {
        background-color: #c473ff;
    }
}

#home_s5 {
    margin-bottom: 10px;
    background-color: #ffffff;
    h3 {
        color: #d396ff;
        font-weight: bold;
        text-align: center;
    }
}

/* About Us */

#aboutus_s1 {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #d396ff;
    overflow: auto;
    h2 {
        margin-bottom: 5px;
        color: #ffffff;
    }
    img {
        margin-left: 10px;
        float: right;
    }
}

#aboutus_s2 {
    clear: both;
    border: 2.5px solid #ffffff;
    overflow: auto;
    h2 {
        margin-bottom: 5px;
        text-align: center;
    }
    img {
        margin-right: 10px;
        float: left;
    }
}

#aboutus_s3 {
    margin-bottom: 10px;
    overflow: auto;
    #aboutus_s3_g {
        width: 100%;
        margin-bottom: 10px;
        overflow: auto;
        h3 {
            margin-bottom: 10px;
        }
        a {
            width: 33.75%;
            margin: 10px 30px 10px 0px;
            padding: 10px;
            text-align: center;
            float: right;
            background-color: #ffffff;
            border: 1px solid #ffffff;
            position: relative;
                left: 30px;
        }
        a:any-link {
            text-decoration: none;
            color: #d396ff;
        }
        a:hover {
            color: #ffffff;
            background-color: #d396ff;
            border: 1px solid #d396ff;
        }
        a:active {
            border: 1px solid #c473ff;
            background-color: #c473ff;
        }
        img {
            margin-right: 10px;
            float: left;
        }
    }
    #aboutus_s3_n {
        clear: both;
        width: 100%;
        overflow: auto;
        h3 {
            margin-bottom: 5px;
            text-align: right;
        }
        h3 {
            margin-bottom: 10px;
        }
        a {
            width: 33.75%;
            margin: 10px 30px 10px 0px;
            padding: 10px;
            text-align: center;
            float: left;
            background-color: #ffffff;
            border: 1px solid #ffffff;
        }
        a:any-link {
            text-decoration: none;
            color: #d396ff;
        }
        a:hover {
            color: #ffffff;
            background-color: #d396ff;
            border: 1px solid #d396ff;
        }
        a:active {
            border: 1px solid #c473ff;
            background-color: #c473ff;
        }
        img {
            margin-left: 10px;
            float: right;
            position: relative;
                bottom: 60px;
        }
    }
    h2 {
        margin-bottom: 5px;
    }
}

#aboutus_s4 {
    margin-bottom: 10px;
    background-color: #ffffff;
    overflow: auto;
    .aboutus_s4_contact {
        width: 28%;
        margin: 10px 30px 10px 0px;
        padding: 10px;
        text-align: center;
        float: left;
        position: relative;
            left: 15px;
        background-color: #d396ff;
        p {
            font-weight: bold;
            text-align: center;
        }
    }
    h2 {
        text-align: center;
    }
    a:any-link {
        text-decoration: none;
    }
    a:hover {
        color: #d396ff;
        background-color: #ffffff;
    }
    a:active {
        background-color: #c473ff;
    }
}

/* Hurting from Hunger */

#hurting_s1 {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
    border: 2.5px solid #ffffff;
    h1 {
        margin-bottom: 10px;
    }
    p {
        transition-duration: 1s;
    }
    img {
        margin-right: 10px;
        float: left;
    }
}

#hurting_s2 {
    clear: both;
    background-color: #ffffff;
}

#hurting_s2_c {
    margin-bottom: 10px;
    background-color: #ffffff;
    overflow: auto;
    #healing_s2_c_wrapper {
        border: 1.5px solid #d396ff;
    }
    #hurting_s2_c1 {
        width: 39%;
        float: left;
        border: 1.5px solid #d396ff;
        border-right: 0.75px;
    }
    #hurting_s2_c2 {
        width: 39%;
        float: left;
        border: 1.5px solid #d396ff;
        border-left: 0.75px;
    }
    h2 {
        width: 75.85%;
        padding: 10px;
        color: #ffffff;
        background-color: #d396ff;
        border: 2.5px solid #d396ff;
    }
    details {
        padding: 10px;
        border: 1.5px solid #d396ff;
        summary {
            color: #d396ff;
            font-weight: bold;
        }
        p {
            margin-top: 5px;
            margin-left: 15px;
            color: #d396ff;
        }
        a:any-link {
            color: #d396ff;
        }
        a:hover {
            color: #ffffff;
            background-color: #d396ff;
        }
        a:active {
            background-color: #c473ff;
        }
    }
    img {
        margin-left: 25.5px;
        position: relative;
            bottom: 55px;
    }
}

#hurting_s2_e {
    background-color: #ffffff;
    overflow: auto;
    #healing_s2_e_wrapper {
        border: 1.5px solid #d396ff;
    }
    #hurting_s2_e1 {
        clear: both;
        width: 39%;
        float: right;
        border: 1.5px solid #d396ff;
        border-left: 0.75px;
    }
    #hurting_s2_e2 {
        width: 39%;
        float: right;
        border: 1.5px solid #d396ff;
        border-right: 0.75px;
    }
    h2 {
        width: 75.85%;
        padding: 10px;
        text-align: right;
        color: #ffffff;
        background-color: #d396ff;
        float: right;
        border: 2.5px solid #d396ff;
    }
    details {
        padding: 10px;
        border: 1.5px solid #d396ff;
        summary {
            color: #d396ff;
            font-weight: bold;
        }
        p {
            margin-top: 5px;
            margin-left: 15px;
            color: #d396ff;
        }
        a:any-link {
            color: #d396ff;
        }
        a:hover {
            color: #ffffff;
            background-color: #d396ff;
        }
        a:active {
            background-color: #c473ff;
        }
    }
}

#hurting_s3 {
    margin-bottom: 50px;
    overflow: auto;
    .subtitle {
        color: #ffffff
    }
    .purple {
        padding: 20px;
        background-color: #d396ff;
        a:any-link {
            color: #ffffff;
        }
        a:hover {
            color: #d396ff;
            background-color: #ffffff;
        }
        a:active {
            color: #ffffff;
            background-color: #c473ff;
        }
    }
    .white {
        padding: 20px;
        color: #d396ff;
        background-color: #ffffff;
        a:any-link {
            color: #d396ff;
        }
        a:hover {
            color: #ffffff;
            background-color: #d396ff;
        }
        a:active {
            background-color: #c473ff;
        }
    }
    #hurting_s3_g {
        margin-bottom: 50px;
        p {
            width: 27.5%;
            float: left;
        }
    }
    #hurting_s3_n {
        clear: both;
        p {
            width: 27.5%;
            float: left;
        }
    }
    #hurting_s3_g_p {
        position: relative;
            left: 36px;
        transition-duration: 1s;
    }
    #hurting_s3_g_p:hover {
        transform: translateX(-36px);
    }
    #hurting_s3_g_p {
        position: relative;
            left: 36px;
        transition-duration: 1s;
    }
    #hurting_s3_g_p:hover {
        transform: translateX(-36px);
    }
    #hurting_s3_n_p {
        position: relative;
            left: 18px;
        transition-duration: 1s;
    }
    #hurting_s3_n_p:hover {
        transform: translateX(-18px);
    }
    h2 {
        margin-bottom: 5px;
        text-align: center;
    }
}

#hurting_s4 {
    margin-bottom: 10px;
    text-align: center;
    background-color: #d396ff;
    h2 {
        color: #ffffff;
    }
}

/* Healing from Hunger */

#healing_s1 {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
    border: 2.5px solid #ffffff;
    h1 {
        margin-bottom: 10px;
    }
    img {
        margin-right: 10px;
        float: left;
    }
}

#healing_s2 {
    clear: both;
    margin-bottom: 10px;
    background-color: #ffffff;
    overflow: auto;
    #healing_s2_wrapper {
        border: 1.5px solid #d396ff;
    }
    #healing_s2_details1 {
        width: 49.866%;
        float: left;
        border: 1.5px solid #d396ff;
        border-right: 0.75px;
    }
    #healing_s2_details2 {
        width: 49.866%;
        float: right;
        border: 1.5px solid #d396ff;
        border-left: 0.75px;
    }
    h2 {
        padding: 10px;
        color: #ffffff;
        background-color: #d396ff;
        border: 2.5px solid #d396ff;
    }
    details {
        padding: 10px;
        border: 1.5px solid #d396ff;
        summary {
            color: #d396ff;
            font-weight: bold;
        }
        p {
            margin-top: 5px;
            margin-left: 15px;
            color: #d396ff;
        }
        a:any-link {
            color: #d396ff;
        }
        a:hover {
            color: #ffffff;
            background-color: #d396ff;
        }
        a:active {
            background-color: #c473ff;
        }
    }
}

#healing_s3 {
    overflow: auto;
    #healing_s3_wrapper2 {
        background-color: #ffffff;
        border: 1.5px solid #d396ff;
        h2 {
            padding: 5px;
            color: #ffffff;
            background-color: #d396ff;
            border: 2.5px solid #d396ff;
        }
        details {
            padding: 10px;
            border: 1.5px solid #d396ff;
            summary {
                color: #d396ff;
                font-weight: bold;
            }
            p {
                margin-top: 5px;
                margin-left: 15px;
                color: #d396ff;
            }
            a:any-link {
                color: #d396ff;
            }
            a:hover {
                color: #ffffff;
                background-color: #d396ff;
            }
            a:active {
                background-color: #c473ff;
            }
        }
    }
    #healing_s3_wrapper1 {
        h2 {
            margin-bottom: 5px;
            text-align: center;
        }
        p {
            margin-bottom: 10px;
            padding: 10px;
            border: 2.5px solid #ffffff;
        }
    }
}